.row {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.column {
  width: 50%;
}

.phone_image {
  border-radius: 15px;
  height: 500px;
  width: 350px;
  margin: auto;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ce4257;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
